
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.1/css/bootstrap.min.css">-->

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

<title>UCD Bioinformatics Core RNA-Seq Workshop</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" type="image/png" href="{{ '/assets/img/favicon.png' | relative_url }}">

<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <link rel="icon" type="image/png"  href="assets/img/favicon.png">
        <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

        <link rel="stylesheet" href="{{ '/assets/css/styles.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">

<style>
/* Style the header */
.header {
  background: white;
  margin-left: 400px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

* {box-sizing: border-box;}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 400px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    padding-left: 10px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #d3d3d3;
    display: block;
    transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #484848;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 36px;
    margin-left: 0px;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav {padding-left: 15px;}
    .sidenav a {font-size: 18px;}
}
</style>
<body>

    <div class="header sticky" id="myHeader" style="width:100%; top:0; position:fixed">
      <a href="{{ site.github.url }}" class="logo">
          <img src="{{ '/assets/img/biocore_banner.png' | relative_url }}">
          </img></a>
            <h2 style="padding-left:10px; padding-top:10px">{{ site.title | default: site.github.repository_name }}</h2>
            <div class="header-right">

                <div id="mySidenav" class="sidenav">
                  <a href="javascript:void(0)" class="closebtn" onclick="doNav()">&times;</a>

                    <table>
                        {% for i in (1..site.navigation.size) %}
                            {% nav = site.navigation[i-1] %}
                            {% if nav.heading %}
                              <th style="font-size:30px;">{{ nav.heading }}</th>
                              {% continue %}
                            {% endif %}
                            {% if nav.url contains "://" %}
                              <tr><th><a href="{{ nav.url }}" id="{{ i }}">{{ nav.title }}</a></th></tr>
                            {% else %}
                              <tr><th><a href="{{ nav.url | relative_url }}" id="{{ i }}">{{ nav.title }}</a></th></tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>

                <h1 style="display:flex;justify-content:space-between;background-color:white;margin:10">
                    <div style="font-size:25px;cursor:pointer;margin:10;position:fixed;padding-top:20px" onclick="doNav()">&#9776; Menu</div>
                </h1>
                    <div style="height: 5px; background-color: darkgrey"></div>
                    <div style="height: 5px"></div>
            </div>
    </div>


</body>


<div id="main" style="padding-left: 150px; padding-right: 100px; margin-left: 400px; padding-top:180px">

{{ content }}

</div>



<script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


{% if site.google_analytics %}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
</script>
{% endif %}

<script>
var navopen=1;
function doNav() {
  if (navopen == 1) {
    document.getElementById("mySidenav").style.width = "0px";
    document.getElementById("main").style.marginLeft = "0px";
    document.getElementById("myHeader").style.marginLeft = "0px";
    navopen = 0;
  } else {
    document.getElementById("mySidenav").style.width = "400px";
    document.getElementById("main").style.marginLeft = "400px";
    document.getElementById("myHeader").style.marginLeft = "400px";
    navopen = 1;
  }
}

// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

// Get the header
var header = document.getElementById("myHeader");

// Get the offset position of the navbar
var sticky = header.offsetTop;

// Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}

</script>
